@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}  

body {
    overflow-y: hidden;
}
/* Navigation Bar */ 

.burger_icon {
    display: none;
}

.navbar {
    background-color: #133b71;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    margin: 50px;
    padding: 0 20px;
}

.navbar_logo {
    max-width: 80px;
    height: auto;
    margin-top: 5px;
}

.text_container {
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.navbar_menu {
    display: flex;
    list-style: none;
}

.navbar_item {
    height: 100%;
}

.navbar_links {
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 10px;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar_links i {
    margin-right: 10px;
}

.navbar_links .fa-caret-down {
    margin-left: 10px;
}

.navbar_links:hover {
    color: #aa3f52;
    transition: all 0.3s ease;
}

a{
    font-size: 15px;
}
ul li {
    position: relative;
    display: inline-block;
}

ul li:hover .dropdown {
    display: block;
    background: linear-gradient(80deg, #133b71, #284274);
    top: 100%;
    left: 0;
}

.dropdown {
    min-width: 200px;
    position: absolute;
    display: none;
    border-radius: 20px;
    padding: 10px;
    z-index: 1;
    cursor: pointer;
    background: linear-gradient(80deg, #133b71, #284274);
    top: 100%;
    left: 50%; /* Center the dropdown horizontally */
    transform: translateX(-20%); /* Center the dropdown horizontally */
}

.dropdown li {
    width: 100%;
}

.dropdown a {
    text-decoration: none;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown a:hover {
    color: #9fafc5;
}

/* Profile */ 

.dropdown-profile {
    min-width: 200px;
    position: absolute;
    display: none;
    border-radius: 20px;
    padding: 10px;
    z-index: 999;
    cursor: pointer;
    display: none;
}

.dropdown-profile li {
    width: 100%;
}

.dropdown-profile.active {
    display: block;
    background: linear-gradient(80deg, #133b71, #284274);
    top: 100%;
    top: calc(100% + 10px); /* Adjust the value as needed */
    left: calc(50% - 20px); /* Adjust the value based on the width of the caret down icon */
    transform: translateX(-50%);
    
}

.dropdown-profile a {
    text-decoration: none;
    color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-profile a:hover {
    color:#9fafc5;
}
.burger_icon {
    display: none;
}

/* Adjusted control position */
.leaflet-top.leaflet-right .leaflet-control {
    top: 90px; /* Adjusted top position */
    right: 10px;
}

html,
body {
    height: 100%;
    margin: 0;
}

#map-container {
    position: relative;
    width: 100%;
    height: calc(100% - 80px); /* Adjusted height to accommodate navbar */
}

#map {
    width: 100%;
    height: 100%;
}

/* Style for the search input */
.leaflet-control-search input[type="text"] {
    margin-right: 5px;
}
.custom-control-search {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Allow the height to adjust based on content */
    background-color: white; /* Set the background color */
    padding: 10px; /* Add padding for spacing */
    border: 1px solid #ccc; /* Add border for visual separation */
    border-radius: 5px; /* Add border radius for rounded corners */
  }
  

/* Hide controls when printing */
@media print {
    .leaflet-control-search,
    .leaflet-draw-toolbar,
    .leaflet-control-zoom,
    .leaflet-control-custom {
        display: none !important;
    }
    .navbar {
        display: none;
    }
}
@media (max-width: 768px) {
    .navbar {
        height: 70px;
    }

    .navbar_container {
        padding: 0 10px;
    }

    .burger_icon {
        display: block;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin-left: 50%;
    }

    .burger_icon:hover {
        color: #fdfdfd;
    }
    
    .burger_icon.active {
        transform: rotate(90deg);
    }

    .navbar_logo {
        max-width: 65px;
        height: auto;
        margin-top: 5px;
    }

    .logo_container {
        margin-right: 0px; 
    }

    .navbar_menu {
        background-color: #133b71;
        flex-direction: column;
        position: absolute;
        top: 80px;
        width: 50%;
        padding: 5px;
        margin-left: 150px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        border-radius: 10px;
        text-transform: capitalize;
    }

    .navbar_menu.active {
        visibility: visible;
        opacity: 1;
        transition-delay: 0.3s;
    }

    .navbar_item {
        width: 100%;
        text-align: left;
    }

    .navbar_links {
        padding: 10px;
    }
}